.button {
  font-weight: 600;
  font-size: 16px;
  line-height: 172%;
  text-transform: uppercase;
  padding: 10px 31px;
  color: var(--color-grey-light);
  background-color: var(--color-blue-normal);
  border: 2px solid var(--color-blue-normal);
  border-radius: 8px;
  cursor: pointer;

  &:hover {
    color: var(---color-blue-normal);
    background: transparent;
  }

  &--link {
    text-decoration: none;
  }

  &--submit {
    color: var(--color-grey-light);
    background-color: var(--color-red-dark);
    border: 2px solid var(--color-red-dark);

    &:hover {
      color: var(--color-red-dark);
      background: transparent;
    }
  }
}
