.logo {
  gap: 5px;
  align-items: center;
  display: flex;
  font-weight: 700;
  font-size: 20px;
  text-transform: uppercase;
  line-height: 150%;
  text-wrap: nowrap;

  @media screen and (min-width: $bp-tablet) {
    font-size: 24px;
  }

  @media screen and (min-width: $bp-desktop) {
    font-size: 34px;
  }

  &__link {
    font-weight: 700;
    font-size: 20px;
    text-transform: uppercase;

    &:hover {
      color: var(--color-text-primary);
    }

    &--footer {
      color: var(--primary);

      &:hover {
        color: var(--primary);
      }
    }
  }
}
